#### visual studio cmake artifacts ####
.vs/
out/
# clangd search confg in this dir
build/

#### my files ####
.todo
private_*
private/

#### test prepared configs ####
**/configs/*.yaml.raw

#### other artifacts ####
.cache/

